body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: var(--pageBack);
    transition: transform .3s, opacity .2s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: calc(100vh - 200px);
    overflow: hidden;

    background-color: var(--purple);
    transition: transform .3s, opacity .2s, filter .2s;
    border-radius: 50px 0 0 0;

    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Settings */

.settingsPanel{
    width: 500px;
    height: fit-content;

    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    border-radius: 0 0 15px 15px;

    display: none;
    flex-direction: column;

    z-index: 1000;
}

.settingsPanel::before{
    content: 'Settings';
    box-sizing: border-box;

    width: 100%;
    height: 40px;
    padding-left: 10px;

    position: absolute;
    top: -40px;
    left: 0;

    display: flex;
    align-items: center;

    font-size: 130%;
    font-weight: 500;

    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(20px);
    border-radius: 15px 15px 0 0;
}

.spBack{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;

    display: none;

    /* background-color: black; */
}

.settingsContent{
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.settingsContent:not(:last-of-type){
    border-bottom: 3px solid rgba(0, 0, 0, 0.308);
    padding: 15px 0;
}

.finishBtn{
    width: 34px;
    height: 34px;

    position: absolute;
    bottom: 3px;
    left: 3px;

    font-size: 20px;
    font-weight: bold;

    background-color: white;
    color: black;
    border-radius: 7px 7px 7px 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: opacity .2s, transform .2s;
}

.finishBtn:hover{
    opacity: .7;
    transform: scale(1.05);
}

    /* SBTextbox */
    #statusCTB{
        width: 250px;
    }
    /*  */

.tdlItems{
    display: flex;
    gap: 3px;
    flex-direction: column;
    list-style: none;
    position: relative;

    padding: 15px 0 5px 0;
}

.tdlItems::before{
    content: "To-do list:";
    position: absolute;
    top: -10px;
    left: 50%;

    width: fit-content;

    transform: translateX(-50%);
}


/*  */

/* Emoji Settings Page */

.emOpts{
    display: flex;
    gap: 35px;
    padding: 35px 0 5px 0;
    position: relative;
}

.emOpts::before{
    content: "Emoji:";
    position: absolute;
    top: -15%;
    left: 50%;

    transform: translateX(-50%);
}

.emojiRadio{
    position: relative;
    font-family: SEGEMJ;

    display: flex;
    align-items: center;
    justify-content: center;
}

.emojiRadio::before{
    content: attr(data-emName);
    transition: text-shadow .2s;

    font-size: 50px;
}

.emojiRadio:checked::before{
    text-shadow: -1px 1px 3px #000,
				  1px 1px 3px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

/*  */

/* Color Settings Page */

.colOpts{
    display: flex;
    gap: 40px;
    padding: 35px 0 5px 0;
    position: relative;
}

.colOpts::before{
    content: "Home color:";
    position: absolute;
    top: -15%;
    left: 50%;

    transform: translateX(-50%);
}

#colorRadio{
    position: relative;
    font-family: SEGEMJ;

    display: flex;
    align-items: center;
    justify-content: center;
}

#colorRadio::before{
    content: attr(data-color);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 54px;
    height: 54px;

    font-size: 50px;

    transition: text-shadow .2s;
}

#colorRadio:checked::before{
    text-shadow: -1px 1px 3px #000,
				  1px 1px 3px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

/*  */

/* Overview Section */

.overview{
    width: 100vw;
    height: 250px;

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    /* overflow: hidden; */

    display: flex;
    justify-content: center;

    background: purple;

    /* box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.397); */

    /* border-radius: 0 0 100px 0; */
}

.overview::before{
    content: '';
    width: 100%;
    height: 100%;

    border-radius: inherit;

    position: absolute;
    /* background-color: black; */

    background-image: url(Bitmap634.png);
    background-size: cover;
    background-position: top center;

    mix-blend-mode: luminosity;
    filter: var(--ovTextureFilter);
}

.ovCorner{
    width: 50px;
    height: 50px;

    position: absolute;
    z-index: 0.5;
    top: 150px;
    right: 0;

    background-image: url(corner_mask.png);
    filter: var(--ovCornerFilter);
}

.ovEmoji{
    font-family: ACM;
    font-size: 230px;
    height: fit-content;

    position: absolute;
    z-index: 1;
    top: 35px;
    left: -20px;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotateY(10deg) rotateX(-10deg) rotateZ(-10deg);
    font-family: SEGEMJ;

    /* text-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); */
}

.ovEmShadow{
    width: 130px;
    height: 100px;

    position: absolute;
    z-index: 0;
    top: 165px;
    left: 30px;

    transform: rotateX(-10deg) rotateZ(-20deg) skewX(50deg);

    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .7));
    border-radius: 50px;
    filter: blur(5px);
}

.ovEmojji::after {
    content: "🙂";

    /* width: inherit; */
    height: 100%;

    position: absolute;
    z-index: -1;
    bottom: -50%;

    transform: scaleY(-1) rotateY(10deg) rotateX(-10deg) rotateZ(-10deg) translateX(-20px);
    filter: blur(20px);
  }

.ovText{
    margin-top: 0;
    padding-left: 12px;
    font-size: 140px;
    font-weight: bolder;
    width: 100%;

    text-align: left;

    position: absolute;
    top: 15%;
    z-index: 1;
    /* transform: translateY(-50%); */
    left: 240px;

    color: var(--textClr);
}

.ovText::before{
    content: "Gavin is...";

    font-size: 40px;
    opacity: .5;

    position: absolute;
    top: -25px;
    left: -20px;

    pointer-events: none;
    user-select: none;
}

.ovText::after{
    content: attr(data-lastUpdate);

    font-size: 40px;
    opacity: .7;

    position: absolute;
    bottom: 25px;
    right: 260px;

    pointer-events: none;
    user-select: none;
}

/*  */

/* Status Box */

.status{
    flex-shrink: none;
    width: 100vw;
    /* max-width: 75vw; */
    height: fit-content;
    max-height: 45vh;

    /* overflow: clip; */

    font-size: 70px;
    color: var(--textClr);

    /* margin: auto auto; */
    padding: 10px 0;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.25);

    display: flex;
    align-items: center;
    justify-content: center;
}

.status::before{
    content: attr(data-statOrTD);
    position: absolute;
    transform: translateY(-45px);
    font-weight: bold;
    font-size: 25px;
}

#contentA, 
#contentB{
    width: fit-content;
    height: fit-content;

    position: absolute;

    transition: opacity .2s;
}

.toDoList{
    margin: 0 auto;
    list-style: none;
}

.toDoList::before{
    content: attr(data-showMessage);
}

.toDoList li{
    position: relative;
    transform: translateX(-15px);
    font-size: 4.5vw;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.toDoList li::before{
    content: "";
    transform: translateX(-25px);

    width: 15px;
    height: 5px;

    background-color: var(--textClr);
    border-radius: 500px;

    position: absolute;
    left: 0;
    z-index: -1;
}

/*  */

/* InfoPen Area */

.infoPen{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;

    width: fit-content;
    height: fit-content;
    padding: 15px 10px 10px 20px;

    position: absolute;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 25px 0 0 0;
    color: var(--textClr);
    /* filter: invert(100%); */
}

.time{
    font-size: 60vh;
    font-weight: 500;

    position: absolute;
    z-index: 0;
    bottom: -15%;
    right: -15%;

    opacity: 0;

    user-select: none;

    transform: scaleX(80%);
    /* filter: invert(100%); */
}

.date{
    font-size: 50px;
    /* filter: invert(100%); */
}

.weather{
    font-size: 65px;
    font-weight: bold;

    /* filter: invert(100%); */
}

/*  */

/* Statics */

.changable{
    cursor: pointer;
}

.unfocused{
    /* transform: scale(0.95); */
    opacity: .6;
    border-radius: 15px 15px 0 0;
    filter: blur(5px);
}

/*  */

/* Hidden */

/*  */