body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: var(--pageBack);
    transition: transform .3s, opacity .2s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: var(--purple);
    transition: transform .3s, opacity .2s, filter .2s;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Settings */

.settingsPanel{
    width: 500px;
    height: fit-content;

    background-color: white;
    border-radius: 20px;

    display: none;
    flex-direction: column;

    position: absolute;
    z-index: 1000;
}

.spBack{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;

    display: none;

    /* background-color: black; */
}

.settingsContent{
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.settingsContent:not(:last-of-type){
    border-bottom: 3px solid rgba(0, 0, 0, 0.308);
}

.finishBtn{
    width: fit-content;
    height: fit-content;

    position: absolute;
    bottom: -50px;

    font-size: 20px;
    font-weight: bold;

    background-color: white;
    padding: 10px 15px;
    border-radius: 7px;

    cursor: pointer;
    transition: opacity .2s, transform .2s;
}

.finishBtn:hover{
    opacity: .7;
    transform: scale(1.05);
}

    /* SBTextbox */
    #statusCTB{
        width: 250px;
    }
    /*  */

.tdlItems{
    display: flex;
    gap: 3px;
    flex-direction: column;
    list-style: none;
}


/*  */

/* Emoji Settings Page */

.emOpts{
    display: flex;
    gap: 40px;
    padding-top: 55px;
}

.emojiRadio{
    position: relative;
    /* font-family: "Apple Color Emoji"; */
}

.emojiRadio::before{
    content: attr(data-emName);
    
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-49%);

    font-size: 50px;
}

/*  */

/* Color Settings Page */

.colOpts{
    display: flex;
    gap: 40px;
    padding-top: 55px;
}

#colorRadio{
    position: relative;
}

#colorRadio::before{
    content: attr(data-color);
    
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-49%);

    font-size: 50px;
}

/*  */

/* Overview Section */

.overview{
    width: 100vw;
    height: 200px;

    position: relative;
    /* overflow: hidden; */

    display: flex;
    justify-content: center;

    background: linear-gradient(90deg, transparent, purple);

    /* box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.397); */

    border-radius: 0 0 50px 0;
}

.ovCorner,
.ovCornerFore{
    content: "";
    width: 50px;
    height: 50px;

    position: absolute;
    z-index: 1;
    top: 200px;
    left: 0;

    background-color: green;
}

#ovCornerFore{
    border-radius: 50px 0 0 0;
    background-color: attr(data-foreClr);
    top: 0;
    /* box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.397); */
}

.ovEmoji{
    font-family: ACM;
    font-size: 230px;
    height: fit-content;

    position: absolute;
    z-index: 1;
    top: -20px;
    left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotateY(10deg) rotateX(-10deg) rotateZ(-10deg);

    /* text-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); */
}

.ovEmoji::before{
    content: "";

    width: 130px;
    height: 130px;

    position: absolute;
    z-index: -1;
    bottom: 13px;
    left: 12px;

    transform: rotateX(70deg) rotateY(10deg);

    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.6) 40%);
    border-radius: 50%;
    filter: blur(10px);
}

.ovEmojji::after {
    content: "🙂";

    /* width: inherit; */
    height: 100%;

    position: absolute;
    z-index: -1;
    bottom: -50%;

    transform: scaleY(-1) rotateY(10deg) rotateX(-10deg) rotateZ(-10deg) translateX(-20px);
    filter: blur(20px);
  }

.ovText{
    margin-top: 0;
    padding-left: 12px;
    font-size: 120px;
    font-weight: bolder;
    width: 100%;

    text-align: left;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 220px;

    color: var(--textClr);
}

.ovText::before{
    content: "Gavin is...";

    font-size: 40px;
    opacity: .5;

    position: absolute;
    top: -15px;
    left: 15px;

    pointer-events: none;
    user-select: none;
}

.ovText::after{
    content: attr(data-lastUpdate);

    font-size: 40px;
    opacity: .7;

    position: absolute;
    bottom: -15px;
    right: 250px;

    pointer-events: none;
    user-select: none;
}

/*  */

/* Status Box */

.status{
    width: fit-content;
    max-width: 75vw;
    height: fit-content;
    max-height: 45vh;

    overflow: clip;

    font-size: 4.5vw;
    color: var(--textClr);

    margin: auto auto;
    padding: 50px 30px 20px 25px;

    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px) saturate(90%);
    border-radius: 10px;
}

.status::before{
    content: attr(data-statOrTD);
    position: absolute;
    transform: translateY(-35px);
    font-weight: bold;
    font-size: 25px;
}

.toDoList{
    margin: 0 auto;
    list-style: none;
}

.toDoList::before{
    content: attr(data-showMessage);
}

.toDoList li{
    position: relative;
    transform: translateX(-15px);
    font-size: 4.5vw;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.toDoList li::before{
    content: "";
    transform: translateX(-25px);

    width: 15px;
    height: 5px;

    background-color: var(--textClr);
    border-radius: 500px;

    position: absolute;
    left: 0;
    z-index: -1;
}

/*  */

/* InfoPen Area */

.timeDate{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.infoPen{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
    gap: 10px;

    width: 100vw;
    height: fit-content;
    padding: 15px;

    background: linear-gradient(transparent, rgba(255, 255, 255, 0.4));
    color: var(--textClr);
    filter: invert(100%);
}

.time{
    font-size: 70px;
    font-weight: bold;
    filter: invert(100%);
}

.date{
    font-size: 55px;
    filter: invert(100%);
}

.weather{
    font-size: 60px;
    font-weight: bold;

    text-align: right;
    filter: invert(100%);
}

/*  */

/* Statics */

.changable{
    cursor: pointer;
}

.unfocused{
    transform: scale(0.95);
    opacity: .6;
    border-radius: 15px 15px 0 0;
    filter: blur(5px);
}

/*  */

/* Hidden */

/*  */